<% let carMark = vehicleData.mark; %> <% let carModel = vehicleData.model; %> <%
let carFuel = vehicleData.fuel; %> <% let carGearbox = vehicleData.gearbox; %>
<% let carStatus = vehicleData.status; %> <% let editReg = vehicleData.reg; %>
<div class="topnav">
  <a href="/cars/search">SEARCH FOR A VEHICLE</a>
  <a id="btn-active" href="/cars/add">ADD/EDIT VEHICLE</a>
  <a href="/cars/show">SHOW VEHICLES</a>
</div>
<div class="box-5">
  <div class="box-6">
    <form action="/cars/add" method="POST">
      <div>
        <h3>ADD VEHICLE</h3>
        <label>REGISTRATION </label><br />
        <input name="addReg" type="text" />
      </div>
      <div>
        <label>mark </label><br />
        <input name="addMark" type="text" />
      </div>
      <div>
        <label>model </label><br />
        <input name="addModel" type="text" />
      </div>
      <div>
        <label>fuel </label><br />
        <select name="addFuel">
          <option value="PETROL">PETROL</option>
          <option value="DIESEL">DIESEL</option>
        </select>
      </div>
      <div>
        <label>gearbox </label><br />
        <select name="addGearbox">
          <option value="MAN">MANUAL</option>
          <option value="AUT">AUTOMATIC</option>
        </select>
      </div>
      <div>
        <label>status </label><br />
        <select name="addStatus">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="2">3</option>
          <option value="2">4</option>
          <option value="2">5</option> </select
        ><i class="fas fa-info">
          <span class="tiptext"
            >1 - FULLY AVAILABLE <br />
            2- RENTED<br />
            3 - NEED REPAIR<br />
            4 - NOT RENTABLE<br />
            5 - SOLD</span
          ></i
        >
      </div>
      <div>
        <button class="styled-button" type="submit">
          ADD VEHICLE
        </button>
      </div>
    </form>
  </div>
  <!-- CAR EDIT VIEW -->
  <div class="box-6">
    <form action="/cars/edit/search" method="POST">
      <div>
        <h3>EDIT VEHICLE</h3>
        <label>REGISTRATION </label><br />
        <input readonly name="editReg" type="text" value=<%= editReg %> />
      </div>
      <div>
        <label>mark </label><br />
        <input name='editMark' type="text" value=<%=carMark %>>
      </div>
      <div>
        <label>model </label><br />
        <input name="editModel" type="text" value=<%=carModel %>>
      </div>
      <div>
        <label>fuel </label><br />
        <select name="editFuel">
          <option value="PETROL">PETROL</option>
          <option value="DIESEL">DIESEL</option>
        </select>
      </div>
      <div>
        <label>gearbox </label><br />
        <select name="editGearbox">
          <option value="MAN">MAN</option>
          <option value="AUT">AUT</option>
        </select>
      </div>
      <div>
        <label>status </label><br />
        <select name="editStatus">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="2">3</option>
          <option value="2">4</option>
          <option value="2">5</option></select
        ><i class="fas fa-info">
          <span class="tiptext"
            >1 - FULLY AVAILABLE <br />
            2- RENTED<br />
            3 - NEED REPAIR<br />
            4 - NOT RENTABLE<br />
            5 - SOLD</span
          ></i
        >
      </div>
      <div>
        <button class="styled-button" formaction="/cars/edit/search">
          SEARCH
        </button>
        <button class="styled-button" formaction="/cars/edit/save">
          SAVE
        </button>
      </div>
    </form>
  </div>
</div>
